.project-card {
  padding: 10px;
  border-radius: 5px;

  @media (prefers-color-scheme: dark) {
    border: 1px solid white,
  }

  @media (prefers-color-scheme: light) {
    border: 1px solid black,
  }
}