.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -300px; /* Adjust the width of the sidebar */
  width: 300px;
  height: 100%;
  background: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 10;
  transition: left 0.3s ease-in-out;
}

.sidebar.visible {
  left: 0;
}

.sidebar-content {
  padding: 20px;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}